<style>
  .message-body {
    max-width: 600px;
    font-size: 20px;
    line-height: 21px;
  }
</style>

{{!-- TODO: Typecal logo --}}

<div class="message-body">
  <p>Olá, {{name}}</p>
  <p>Foi solicitado um reset de senha para a sua conta.</p>
  <p>Caso tenha sido você clique no link abaixo, caso contrário por favor entre em contato conosco.</p>
  <p><a href="{{link}}">Resetar senha</a></p>
  <p>Token: {{token}}</p>
  <p>Equipe Overflow</p>
</div>